*{
	font-family: sans-serif;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
    -webkit-box-sizing: border-box;
}
form{
	width: 500px;
	border: 2px solid #ccc;
	padding: 30px;
	background: #fff;
	border-radius: 15px;
	position: relative;
}
h2 {
	text-align: center;
    padding-bottom: 10px;
}
input, select{
	display: block;
	border: 2px solid #ccc;
	width: 95%;
	padding: 10px;
	margin: 10px auto;
	border-radius: 5px;
	position: relative;
}
.slKhoa{
	display: block;
	border: 2px solid #ccc;
	width: 300px;
	padding: 10px;
	border-radius: 5px;
	margin-left: 10px;
}
.slKhoadv{
	display: block;
	border: 2px solid #ccc;
	width: 400px;
	padding: 10px;
	border-radius: 5px;
	margin-left: 10px;
}
label {
	color: #888;
	font-size: 18px;
	padding: 10px;
}
button {
	float: right;
	background: rgb(26, 174, 26);
	padding: 10px 15px;
	color: #fff;
	border-radius: 5px;
	margin-right: 10px;
	border: none;
}
button:hover{
	opacity: .7;
}
.error {
   background: #F2DEDE;
   color: #A94442;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
}
.success {
	background: #D4EDDA;
	color: #40754C;
	padding: 10px;
	width: 95%;
	border-radius: 5px;
	margin: 20px auto;
}

.header{
    margin:0; padding-top:5px;padding-left: 20px;
    background: rgb(68, 120, 245);
	height: 30vh;
    font-weight:bold;
    line-height: 15px;
}
.logout{
    float: left;
	background: #555;
	padding: 7px 10px;
	color: #fff;
	border-radius: 5px;
	margin-right: 10px;
	border: none;
	text-decoration: none;
    font-size: 12px;
}
.delete{
    float: left;
	background: #f94242;
	padding: 7px 10px;
	color: #fff;
	border-radius: 5px;
	margin-right: 10px;
	border: none;
	text-decoration: none;
    font-size: 12px;
}
.update{
    float: left;
	background: #f4e033;
	padding: 7px 10px;
	color: #000000;
	border-radius: 5px;
	margin-right: 10px;
	border: none;
	text-decoration: none;
    font-size: 12px;
}
.choose{
    float: left;
	background: #33eef4;
	padding: 7px 10px;
	color: #000000;
	border-radius: 5px;
	margin-right: 10px;
	border: none;
	text-decoration: none;
    font-size: 12px;
}
.logout:hover, .delete:hover, .update:hover, .choose:hover{
	opacity: .7;
}
.wrapper{
    margin:0; padding:0;
}
.box-menu{ 
    background-color: rgb(32, 190, 32);
    text-align: center;
	height:40px;
	z-index: 3;
}
.box-menu ul{ 
    display: inline-flex;
    list-style: none;
    color: #fff;
	margin:0 auto ;
	padding: 0px 20px;
}
.box-menu ul li{ 
    width: 220x;
    margin:1px auto ;
	padding:10px;
}
.box-menu ul li a{ 
    color: #fff;
    text-decoration: none;
	text-align: center;
	margin: 20px; 
}
.box-menu ul li:hover{ 
    background:rgb(32, 200, 32);
    border-radius: 5px;
}
.box-menu .fa{ 
    margin-right: 10px;
	margin-left: 10px;
}
.box-submenu{
	display: none;
}
.box-menu ul li:hover .box-submenu{
   display: block;
   position: absolute;
   background: rgb(32, 210, 32);
   margin-top: 10px;
   margin-left: -10px;
   z-index: 98;
}
.box-menu ul li:hover .box-submenu ul{
   display: block;
   margin: 0px;padding: 0px;
}
.box-menu ul li:hover .box-submenu ul li{
   width: 260px;
   text-align: left;
   border-bottom: dotted 1px #fff;
   background: transparent;
   border-radius: 0;
   padding: 5px;
   margin: 5px auto;
}
.box-menu ul li:hover .box-submenu ul li:last-child{
   border-bottom: none;
}
.box-menu ul li:hover .box-submenu ul li a:hover{
   color: #000000;
}
.fa-angle-right{
   float: right;
}
.box-submenu-2{
   display: none;
}
.submenu-hover:hover .box-submenu-2{
   display: block;
   position: absolute;
   margin-top: -29px;
   margin-left: 150px;
   background: rgb(32, 240, 32);
   z-index: 99;
}
.taoKhoa{
	background:rgb(229, 247, 249);
	display: flex;
	padding-top: 40px;
	align-items: center;
	height: 85vh;
	flex-direction: column;
}
.createLop{
	background:rgb(229, 247, 249);
	display: flex;
	padding-top: 40px;
	align-items: center;
	height: 110vh;
	flex-direction: column;
}
.createBTK{
	background:rgb(229, 247, 249);
	display: flex;
	padding-top: 40px;
	align-items: center;
	height: 125vh;
	flex-direction: column;
}
table {
    border-collapse: collapse;
    margin: 25px 10px;
    font-size: 0.9em;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}
table thead tr {
    background-color: rgb(32, 210, 32);
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}
table th, table td {
    padding: 10px 10px;
}
table tbody tr {
    border-bottom: 1px solid #dddddd;
}
table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
table tbody tr:last-of-type {
    border-bottom: 2px solid rgb(32, 200, 32);
}
.hi tr:last-of-type{
	border-bottom: 0px solid rgb(32, 200, 32);
}
table tbody tr.active-row {
    font-weight: bold;
    color: rgb(32, 200, 32);
}
.wptable{
	background:rgb(229, 247, 249);
	display: flex;
	padding-top: 40px;
	align-items: center;
	height: 100vh;
	flex-direction: column;
}
.displaytb{
	width:auto;
	border: 2px solid #ccc;
	padding: 30px;
	background: #fff;
	border-radius: 15px;
	justify-content: center;
	height: 85vh;
}
.login{
	margin: 0;padding: 0;
}
section{
	width: 100%;
	height:100vh;
	background:#359dff;
	overflow: hidden;
	display: flex;
	align-items: center;
	height: 100vh;
	flex-direction: column;
}
section .wave{
	position: absolute;
	bottom: 0;
	left:0;
	width:100%;
	height:100px;
	background: url(wave.png);
	background-size: 1000px 100px;
}
section .wave.wave1{
	animation: animate 30s linear infinite;
	z-index: 1000;
	opacity: 1;
	animation-delay: 0s;
	bottom: 0;
}
section .wave.wave2{
	animation: animate2 15s linear infinite;
	z-index: 999;
	opacity: 0.5;
	animation-delay: -5s;
	bottom: 10px;
}
section .wave.wave3{
	animation: animate 30s linear infinite;
	z-index: 998;
	opacity: 0.2;
	animation-delay: -2s;
	bottom: 15px;
}
section .wave.wave4{
	animation: animate2 5s linear infinite;
	z-index: 997;
	opacity: 0.7;
	animation-delay: -5s;
	bottom: 20px;
}
@keyframes animate {
	0%{
		background-position-x: 0;
	}
	100%{
		background-position-x: 1000px;
	}
}
@keyframes animate2 {
	0%{
		background-position-x: 0;
	}
	100%{
		background-position-x: -1000px;
	}
}

.input-group{
    position: relative;
    margin: 30px 0;
}
.input-group label{
    position: absolute;
    top:50%;
    left:20px;
    transform: translateY(-50%);

    color:#359dff;
    padding: 10px;
    pointer-events: none;
}
.input-group input{
    width:95%;
    height:45px;
    color:#000000;
    padding: 10px 18px;
	margin: 10px auto;
	border-radius: 5px;
    background: transparent;
    border:2px solid #359dff;
    outline:none;
    border-radius: 5px;
}
.input-group input:focus~label,
.input-group input:valid~label{
    top:0;
    font-size: 15px;
    background: #fff;
	padding: 0 10px;
}
.logo{
  	background-size: cover;
  	background-position: center;
  	background-repeat: no-repeat;
	display:block;
	justify-content: initial;
	margin-top: 20px;
	margin-bottom: 20px;
}
